.top_img{
  margin-top: 90px;
  text-align: center;
}

.first_setting h3{
  margin: 0;
  font-weight: normal;
}

.first_setting{
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  width: 40%;
  max-width: 400px;
  min-width: 250px;
  margin-top: 30px;
  text-align: center;
  /* display: flex; */
  /* flex-flow: column nowrap; */
  /* justify-content: center; */
  /* align-items: center; */
  border: #b4c7e7 7px solid;
}

.first_setting > div{
  margin-bottom: 10px;
}


.Setting_User_icon{
  border: #ccc solid 2px;
  border-radius: 13px;
  padding: 10px;
}

.Setting_User_icon input[type=radio]{
  display: none;
}
.Setting_User_icon label{
  margin: 5px;
  cursor: pointer;
}

.Setting_User_icon img:hover{
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid #ddd;
}

.Setting_User_icon input[type=radio]:checked + label img{
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #b4c7e7;
}