
*{
  margin: 0;
  padding: 0;
  color: #000;
  text-decoration: none;
  list-style: none;
}

.NoDisplay{
    display: none;
}


/* ヘッダー ============================= */
/* header{
  background-color: #386768;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  z-index: 4;
}

header .ToTimeTable_Btn{
  width: 2.5em;
  height: 2.5em;
  text-align: center;
  line-height: 2.5em;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  border-radius: 50%;
  border: 3px solid #fff;
  background-color: burlywood;
  text-decoration: none;

}

h1{
  color: #fff;
} */

/* main ============================= */
main{
  /* padding: 0 20px; */
  
}

/* 参加者表示 ============================= */

#Show_participant_btn{
  display: block;
  position: fixed;
  background-color: #fff;
  border:#386768 2px solid;
  border-radius: 50%;
  top: 90px;
  left: 40px;
  width: 4em;
  height: 4em;
}

#Remove_participant_btn{
  display: block;
  position: fixed;
  background-color: #fff;
  border:#386768 2px solid;
  border-radius: 50%;
  top: 90px;
  left: 40px;
  width: 4em;
  height: 4em;
}

#Remove_participant_btn:hover,#Show_participant_btn:hover{
  opacity: 0.6;
}

/* ヒト型アイコン */
.profile-solid.icon {
  color: #386768;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 4;
  
  width: 25px;
  height: 16px;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px transparent;
  background-color: currentColor;
  border-radius: 10px 10px 2px 2px;
}

.profile-solid.icon:before {
  content: '';
  position: absolute;
  top: -40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  border: solid 1px currentColor;
  background-color: currentColor;
}


#Participant_Window{
  background-color: #D9D9D9;
  border:#386768 2px solid;
  position: fixed;
  height: 75%;
  top: 80px;
  left: 30px;
  width: 20%;
  text-align: center;
  z-index: 30;
}
#Participant_Window li{
  margin-bottom: 10px;
}

.Participant_Window_title{
  /* background-color: tomato; */
  margin: 20px 0; 
}

/* 0810追加 参加者表示スクロール */
/* スクロールの幅の設定 */
.Participant_Window_List{
  height: 80%;
  overflow-y: scroll;
}

.Participant_Window_List::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* スクロールの背景の設定 */
.Participant_Window_List::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: 0 0 4px #aaa inset;
}

/* スクロールのつまみ部分の設定 */
.Participant_Window_List::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #386768;
}




/* メイン ============================= */
main{
  margin-top: 80px;
}


/* 入力フォーム ============================= */
/* フォーム全体の構成 */
#from{
  background-color: #F2F2F2;
  border: 2px solid #386768;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 0 30px;
  align-items: center;
  justify-content: space-between;
  z-index: 4;
}

#form_input{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  /* background-color: burlywood; */
}

/* 匿名ボタン */

/* 0810追加 匿名ボタンデザイン もうすこし大きくてもいいかも */
.Anonymous_Select_label{
  padding: 8px 10px;
  border-radius: 5px;
  background-color: #ccc;
  -webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.checkbox input:checked  + .Anonymous_Select_label {
  background-color: #386768;
  color: #fff;
}


/* ↓↓↓OnOFFぼたん */
/* .Form_Anonymous_Select{
  display: flex;
  align-items: center;
}

#Form_Anonymous_Select {
  min-width: 150px;
  width: 33.33%;
  padding: 25px 0;
  min-height: 100px;
}

.Anonymous_Select_label{
  margin-right: 10px;
  font-size: 1.5em;
  font-weight: bold;
}

.checkbox {
  position: relative;
  display: inline-block;
}
.checkbox:after, .checkbox:before {
  font-feature-settings: normal;
  -webkit-font-kerning: auto;
          font-kerning: auto;
  font-language-override: normal;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  text-rendering: auto;
}

.checkbox label {
  width: 70px;
  height: 42px;
  height: 20px;
  background: #ccc;
  position: relative;
  display: inline-block;
  border-radius: 46px;
  transition: 0.4s;
}

丸い部分
.checkbox label:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  margin-top: -1px;
  border-radius: 100%;
  left: 0;
  top: -5px;
  z-index: 2;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}
.checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.checkbox input:hover + label:after {
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}
.checkbox input:checked + label:after {
  left: 40px;
}

.model-7 .checkbox label {
  background: none;
  border: 5px solid #555;
  height: 42px;
  height: 30px;
}
.model-7 .checkbox label:after {
  background: #555;
  box-shadow: none;
  top: 2px;
  left: 2px;
  width: 28px;
  height: 28px;
}
.model-7 .checkbox input:checked + label {
  border-color: #386768;
}
.model-7 .checkbox input:checked + label:after {
  background: #386768;
  left: 40px;
} */

/* スタンプ表示ボタン */
#Show_StampSelect_btn{
  position: relative;
  display: inline-block;
  margin: 0 15px 0 0;
  padding: 0 5px;
  width: 40px;
  height: 40px;
  line-height: 50px;
  text-align: center;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  background: #fff;
  border: 2px solid #000;
  border-radius: 50%;
  box-sizing: border-box;
}
/* 
#Show_StampSelect_btn:before {
  content: "";
  position: absolute;
  bottom: -13px;
  left: -14px;
  margin-top: -15px;
  border: 16px solid transparent;
  border-top: 13px solid #fff;
  z-index: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 2;
}

#Show_StampSelect_btn:after{
  content: "";
  position: absolute;
  bottom: -13px;
  left: -13px;
  margin-top: -15px;
  border: 13px solid transparent;
  border-top: 13px solid #000;
  z-index: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 1;
} */

#Remove_StampSelect_btn{
  background-color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

/* スタンプ選択画面 */
#SelectWindow_Stamp{
  background-color: #fff;
  position: fixed;
  bottom: 75px;
  padding: 20px;
  border: solid 2px #386768;
  border-radius: 30px;
}


#SelectWindow_Stamp input[type="radio"] {
  display: none;
}

#SelectWindow_Stamp input[type="radio"]:hover{
  border: #ccc solid 3px;
  box-sizing: border-box;
  border-radius: 50%;
}

#SelectWindow_Stamp input[type="radio"]:checked + img{
  border: #C0D4F5 solid 3px;
  box-sizing: border-box;
  border-radius: 50%;
}

/* コメント入力 */
#From_comennt{
  width: 50%;
}

#From_comennt textarea{
  display: block;
  width: 100%;
  height: 40px;
  border: 2px solid #B4C7E7;
}
#From_comennt textarea::placeholder{
  text-align: center;
  line-height: 40px;
}

/* 送信ボタン */
#From_SubmitBtn{
  border: none;
  margin-right: 50px;
  width: 60px;
}

#SubmitBtn_img{
  width: 100%;
}



/* 投稿欄 ============================= */
#Allpost{
  padding: 0 10px;
}

.thepost{
  /* background-color: aqua; */
  /* width: 70%; */
  max-width: 80%;
}

.thepost_main{
  display: flex;
  align-items: center;
  /* background-color: beige; */
}

/* アイコンとユーザー名 */
.thepost_main_user{
  text-align: center;
}

.thepost_main_user div img{
  width: 60px;
  border-radius: 50%;
  border: 0.2em solid #C0D4F5;
}

.thepost_time{
  text-align: right;
  min-width: 10%;
}

/* 吹き出し */
.thepost_comment {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 30px;
  margin: 0 0 0 30px;
  padding: 10px 15px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 3px #C0D4F5;
  border-radius: 10px;
  box-sizing: border-box;
}

.thepost_comment:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #FFF;
  z-index: 2;
}

.thepost_comment:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #C0D4F5;
  z-index: 1;
}

.thepost_text{
  /* display: flex; */
  /* background-color: brown; */
}


.thepost_time{
  /* margin-top: auto; */
  margin-top: 5px;
  font-size: 0.5em;
}
/* 自分のメッセージ */

.my_post{
  margin-left: auto;
}

.my_post .thepost_main, .my_post .thepost_text{
  flex-direction: row-reverse;
}

.my_post .thepost_time{
  text-align: left;
}

/* .my_post .thepost_comment{ */
  /* background-color: red; */
  /* flex-direction: row-reverse; */
/* } */

.my_post .thepost_comment {
  position: relative;
  display: inline-block;
  margin: 0 30px 0 5px;
  padding: 10px 15px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #fff;
  /* background: #C0D4F5; */
  border: solid 3px #C0D4F5;
  border-radius: 10px;
  box-sizing: border-box;
}

.my_post .thepost_comment:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -12px;
  border: 12px solid transparent;
  border-left: 12px solid #fff;
  /* border-left: 12px solid #C0D4F5; */
  z-index: 2;
}

.my_post .thepost_comment:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  right: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-left: 16px solid  #C0D4F5;
  z-index: 1;
 }

 
.lastdiv{
  /* ここで投稿フォームのスペースと最後の投稿の高さをあわせる */
  height: 80px;
}