.top {
  margin: -10px 0 0 -10px;
  width: 100vw;
  height: 100vh;
  /* background-image: url("../../assets/background_pic.png");
  background-repeat: no-repeat;
  background-position: 50%;
  animation: move 20s infinite both; */
}


@keyframes move{
  0% {
    background-size:100% auto;
  }
  50% {
    background-size:140% auto;
  }
  100% {
    background-size:100% auto;
  }
}

.top header h3{
  color: #fff;
}


.top_img{
  margin-top: 90px;
  /* background-color: blue; */
  width: 50%;
}
.top_img img{
  width: 100%;
}
.introduction{
  width: 405px;
  margin-left: 10px;
  text-align: center;
}

.signin_button{
  width: 405px;
  text-align: center;
  margin-bottom: 0px;
}
.signup_button{
  margin-top: 10px;
  width: 405px;
  text-align: center;
  margin-bottom: 0px;
}


/* スマホ用 */
@media screen and (max-width: 480px) {
  .top {
    background-image: none;
    /* background-color: tomato; */
  }
  .top #header h3{
    text-align: center;
    font-size: 80%;
  }
  .top_img{
    /* background-color: aqua; */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .top .top_img img{
    text-align: center;
    width: 323px;
    height: 96px;
  }
  .top .introduction{
    width: 80%;
    /* background-color: aqua; */
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .top .introduction h3{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 80%
  }
  .top .signin_button{
    /* background-color: aqua; */
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .top .signup_button{
    /* background-color: green; */
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .top .button{
    text-align: center;
  }
}
